div{
    background-color: #A9F5A9;
    border: 3px solid #BC0808;
}
p {
    padding: 5px;
    background-color: #AAC1FC;
    width: 15%;
}
.items{
    width: 25%;
    background-color: #04FF00;
}
.main {
    background-color: whitesmoke;
    border:none;
}