
p {
    padding: 5px;
    background-color: #AAC1FC;
    width: 90%;
}
.items{
    width: 40%;
    background-color: #04FF00;
}
.main {
    background-color: whitesmoke;
    border:none;
}
img{
    width: 100%;
}
.itemlist{
    padding: 5px;
    border: 3px solid black;
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: #F35050;
    display: inline-block;
}
.flex{
    border: 5px solid #9B0075;
    background-color: #ACC9E0;
}
/*propiedad css para quitar las flechas dentro del input de incrementar y decrementar*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none; 
}
.input-browser{
    margin: 10px 10px 10px 80px;
}

