<!-- <p>{{totalItems()}}</p>
<p>Car Items {{getCartItems()}} <a routerLink="/order" routerLinkActive="active">Order</a></p> -->
<nav>
  <a routerLink="/cart-component" routerLinkActive="active">Cart</a>
  <a routerLink="/order-component" routerLinkActive="active">Order</a>
</nav>
  <router-outlet></router-outlet>
<div class="main">
  <br><input type="text" (keydown)="showKey($event)">    
  <h1 class="items">Total items in stock: {{totalItems()}} </h1>
  <!-- inicio busqueda -->
  <div class="input-browser">
    <input type="search" maxlength=26 placeholder = "Filtrar items por nombre..." [(ngModel)]="itemFilter.name">
    <ul>
      <li class="itemlist" *ngFor="let item of myItems | filterBy: itemFilter" [class.select]="item.isSelected">
          <!-- updateItem -->
          <h2 *ngIf="!item.isSelected" (click)="editable(item)">{{item.name | uppercase}}</h2>
          <h2 *ngIf="item.isSelected">
            <input type="text" [(ngModel)]="item.name" (blur)="updateItem(item)" >
          </h2>
          <!-- updateItem -->
          <img [src] = "item.imagen" alt="{{item.imagen}}"/>
          <p>{{item.description}}</p>
          <p *ngIf="item.stock >= 0">{{item.stock}} in Stock</p>
          <p *ngIf="item.stock === 0">Out of Stock</p>
          <div class="panel-amount">
            <button class="btn-remove" [disabled]='item.quantity==0' (click)="downQuantity(item)">-</button>
            <input type="number" maxlength="2" placeholder="0" class="amount" [value]="item.quantity"/>
            <button class="btn-amount" [disabled]='item.stock==0' (click)="upQuantity(item)">+</button>
            <p>{{item.price | currency:'EUR':true}}</p>
            <br>
            <button (click)="addToCart(item)">Add to Cart</button>
          </div>
      </li>
     <!-- <li *ngIf = "(myItems | filterBy: itemFilter).length === 0">No matching elements</li>  --> 
    </ul>
  </div>
  <!-- fin busqueda -->
</div>
